*{
	margin: 0;
	padding: 0;
}
div {
	font-family: arial;
}
p{
	padding: 0 15px;

}
#container {
	width: inherit;
	position: absolute;
	background: linear-gradient(to right, black, #505050, black);
}
#header {
	background-color: #F0F0F0;
	margin-bottom: 15px;
}
#header p{
	text-align: right;
	position: absolute;
	top: 20px;
	right: 40px;
	font-weight: bold;
}
#header nav{
	background-color: #F0F0F0;
	margin-bottom: 20px;
	padding-left: 40px;
	padding-bottom: 1px;
	border-top: 2px solid #C8C8C8;	
}
#header nav a{
	padding: 5px 10px;
	text-decoration: none;
	border-left: 2px solid #C8C8C8;
	font-size: 10px;
	font-weight: bold;
	color: #888888;
	margin-left: auto;
	text-align: center;
	display: inline-block;
}
h2 {
	background-color: gold;
	padding: 4px 8px; 
	font-size: 14px;
}
#warehouse-pic{
	border: 4px solid white;
	display: inline-block;
	vertical-align: top;
	margin: 10px 5px 0 50px;
}
#about-ppc{
	display: inline-block;
	width: 620px;
	vertical-align: top;
	margin-top: 10px;
	color: white;
	background: linear-gradient(to right, grey, black); /* Standard syntax (must be last) */
	height: 225px;
}
#about-ppc p{
	padding: 10px 15px;
	font-size: 12px;
}
#about-ppc h2 {
	color: black;
	padding: 7px 15px;
	font-size: 14px;
}
#about-ppc h3{
	padding: 10px 15px;
	font-size: 14px;
}
#center-txt{
	margin: 10px 65px;
	font-size: 12px;
	color: gold;
}
.bottom-div {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	height: 333px;
	position: relative;
	border: 2px solid black;
	margin: 0 9px;
	font-size: 12px;
}
#automotive{
	margin-left: 48px;
}
.bottom-div p{
	padding-top: 10px;
	font-size: 12px;
}
.bottom-div img{
	width: 220px;
	height: 155px;
}

.rm {
	background-color: gold;
	border: 3px solid black;
	padding: 5px 10px;
	font-weight: bold;
	color: #484848;
	position: absolute;
	bottom: 20px;
	right: 15px;
	border-radius: 5px;
}

