*{
	margin: 0;
	padding: 0;
}
div {
	border: 1px solid red;
	font-family: arial;
}
#container {
	width: 1200px;
	position: absolute;
}
#header p{
	text-align: right;
	position: absolute;
	top: 20px;
	right: 40px;
}
#warehouse-pic{
	border: 4px solid white;
	display: inline-block;
}
#about-ppc{
	display: inline-block;
	width: 650px;
}
#automotive, #commercial, #industrial, #diesel {
	width: 285px;
	display: inline-block;
	vertical-align: top;
}
/*#automotive, #commercial, #industrial, #diesel img{
	width: 276px;
	height: 155px;

}*/
#automotive img{
	width: 276px;
	height: 155px;
}
#commercial img{
	width: 276px;
	height: 155px;
}
#industrial img{
	width: 276px;
	height: 155px;
}
#diesel img{
	width: 276px;
	height: 155px;
}
